header {
  margin-bottom: 12px;
}
#page-logo a {
  color: rgb(15, 149, 194);
}
body {
  background: linear-gradient(130deg, rgb(176, 173, 173), rgb(47, 44, 44));
  color: rgb(86, 92, 94);
}
main ul {
  list-style: none;
  width: 1300px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px 15px;
  margin: 0 65px 16px 65px;
}

main li:nth-of-type(3) {
  grid-column: 1 / span 2;
}
main li:nth-of-type(6) {
  grid-column: 1 / span 2;
}
main li:nth-of-type(9) {
  grid-column: 1 / span 2;
}
main li:nth-of-type(10){
  grid-column: 1 / span 2;
}
main li {
  display: flex;
  background-color: rgb(245, 250, 255);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  border-radius: 6px;
  overflow: hidden;
}

main li img {
  width: 350px;
  height: auto;
  border-radius: 4px;
}

.item-content {
  padding: 18px;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}
.actions {
  text-align: right;
}

.actions a {
  text-decoration: none;
  color: rgb(36, 181, 225);
  border-radius: 10px;
  padding: 6px;
}
.actions a:hover {
  background-color: rgb(51, 52, 53);
  padding: 4px;
}
