#hero {
  height: 700px;
  background-image: url("/images/background-index.jpg");
  background-position: center;
  background-size: contain;
  position: relative;
}
#hero-content {
  width: 600px;
  background-color: rgba(51, 47, 47, 0.4);
  box-shadow: 2px 4px 8px rgb(20, 6, 6);
  text-align: center;
  border-radius: 8px;
  padding: 25px 0;
  margin: 0 auto;
  position: relative;
  top: 175px;
  color: rgb(255, 238, 238);
}
#hero-content h1 {
  text-transform: uppercase;
  font-size: 32px;
  font-family: "Manrope", sans-serif;
  font-weight: 1000;
  margin: 0px 0 25px 0;
}
#hero-content p {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 100;
  font-family: "Manrope", sans-serif;
}
#hero-content a {
  text-decoration: none;
  background-color: rgb(231, 157, 59);
  padding: 2px 4px;
  border-radius: 4px;
  color: black;
  font-size: 14px;
  font-weight: 700;
  box-shadow: 2px 4px 8px rgb(68, 67, 67);
  text-transform: uppercase;
  font-family: "Manrope", sans-serif;
}
#hero-content a:hover {
  background-color: rgb(172, 169, 5);
}

#highlights {
  padding: 12px;
  background: linear-gradient(180deg, rgb(152, 189, 186), rgb(184, 194, 193));
}
#highlights h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  color: rgb(59, 65, 64);
  margin: 12px;
}
ul a {
  color: rgb(255, 255, 255);
}
#destinations {
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
  margin: -25px;
}

.destinations {
  margin: 20px;
  text-transform: uppercase;
}
.destinations p {
  text-align: center;
  font-size: 16px;
  color: rgb(124, 123, 123);
  margin: 12px;
}
.destinations img {
  height: auto;
  width: 375px;
  border-radius: 8px;
  box-shadow: 2px 4px 8px rgb(68, 67, 67);
  object-fit: fill;
}
.destinations a:hover {
  background-color: rgba(51, 47, 47, 0.4);
}

.destinations strong {
  color: rgb(0, 160, 117);
}
